<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technocurl.www.parsejson">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".utility.Globalvariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".registration.SignupActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppThemeRegister">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".MainPage"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".nepali.DetailsrowlistActivity"></activity>
        <activity android:name=".nepali.Detailsrow"/>
        <activity android:name=".kanun.KanunnepaliAactivity"/>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".nepali.NepaliMain"/>

        <activity
            android:label=""
            android:name=".kanun.Kanunsearchlist"/>
        <activity android:name=".kanun.Kanundetailspage"
            android:label=""/>
        <activity android:name=".kanun.Kanunalldetails"
            />
        <activity android:name=".kanun.RelatednajirActivity"/>
        <activity android:name=".kanun.Tathyaserchlist"/>
        <activity android:name=".kanun.Tathyadetails"/>
        <activity
            android:label=""
            android:windowSoftInputMode="adjustPan"
            android:name=".gazat.Gazat"/>
        <activity
            android:label=""
            android:name=".gazat.Detailslistgazet"/>
        <activity android:name=".najiarenglish.Detailsrowenglish"/>
        <activity android:name=".najiarenglish.DetailsrowlistActivityenglish"/>
        <activity android:name=".najiarenglish.EnglishMain"/>

    </application>

</manifest>